@use "./../01-abstracts/" as *;

body {
  font-size: rem(15px);
  font-family: $font;
  color: var(--color-font);
  font-weight: var(--weight-regular);
  line-height: 1.67;
}

h1 {
  font-size: rem(28px);
  line-height: 1.14;
  font-weight: var(--weight-bold);
}

h2 {
  font-size: rem(24px);
  line-height: 29px;
  font-weight: var(--weight-bold);
}

// Desktop
@include breakpoint($md) {
  h1 {
    font-size: rem(36px);
    line-height: 1.22;
  }
}
